body {
    background-image: url(../assets/dark-wood3.jpg);
    color : hsl(25, 30%, 54%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Q2.d without margin */
    margin : 0,0,0,0;
}

/* changing the font family, question 2.c */
body h2{
    font-family:Arial, Helvetica, sans-serif;
}

body p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width : 950px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 222, 188);
}

/*class content*/
.content{
    line-height: 1.4em;
    padding: 10px;
}

/*Q5 foreground*/
header, nav, footer{
    background-color: rgb(242, 216, 171);
    color : rgba(102, 75, 11, 0.886);
}

/*Q6*/
nav ul{
    margin: 0%;
    padding: 5px;
}

/*Q7*/
nav{
    text-transform: uppercase;
}
nav li{
    /*Q7.a*/
    display: inline-block ;
    margin-right: 40px;
}

/*Q8 4 pseudo classes effect*/
nav :link{
    color: rgb(147, 120, 58);
}

nav :visited{
    color: rgba(159, 153, 68, 0.777);
}

nav :hover{
    color: rgb(183, 21, 21);
}

nav :active{
    color :rgb(240, 126, 18);
}

/*Q9 anchor a*/
a{
    color :rgb(128, 73, 48);
    text-decoration: none;
}

/*Q10 three headings*/
h1, h2, h3{
    margin : 10px;
    text-transform: uppercase;
}

h1{
    color:rgb(193, 85, 36);
}

h2{
    color :rgb(56, 53, 53);
}

h3{
    color:rgb(121, 45, 9);
}

/*Q11*/
body .img-centre{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

/*Q12 style the audio*/
audio, video{
    display: flex ;
    margin-bottom : 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

/*Q13 */

table{
    width : 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px;
    margin-left: auto;
    margin-right: auto;
}

/*Q14*/
table td, table th{
    border:2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:2px;
    padding-bottom: 2px;
    background-color: rgb(225, 198, 181);
}

/*Q15*/
table th, tfoot td{
    text-transform: uppercase;
    background-color: rgb(210, 174, 147);
    color :rgb(196, 118, 78);
}

/*Q16*/
dt{
    text-decoration: bold;
}

/*Q17*/
footer{
    font-size: 80%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1px;
    padding-bottom:1px;
}

/*Q18*/
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Q19*/
fieldset{
    width :500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border : 2px solid rgb(206, 176, 154);
    background-color:rgb(235, 216, 203);
    margin-left: auto;
    margin-right: auto;
}

/*Q20*/
legend{
    font-style:italic;
    background-color: rgb(210, 174, 147);
    color:rgb(179, 86, 19);
    margin-top: 0;
    margin-bottom: 0;
    margin-left:10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:0 ;
    padding-bottom: 0;
    border-radius: 10px;
}

/*Q21*/
input[type="submit"]{
    border: solid;
    padding: 5px;
    background-color: rgb(210, 147, 103);
    color:rgb(0, 0, 0);
}

/*Q22*/
input[type="submit"]:hover{
    cursor: pointer;
    color: rgb(247, 242, 240);
    background-color: rgb(210, 147, 103);
}



